filters/src/main/resources/schemas/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<element name="employee">
		<complexType>
			<sequence>
				<element name="eid" type="int" />
				<element name="empname" type="string" maxOccurs="1" />
				<element name="salary" type="float" />
			</sequence>
		</complexType>
	</element>
</schema>